[profile personal]
sso_session = personal
sso_account_id = <ACCOUNT_ID>
sso_role_name = <SSO_ROLE_NAME>
region = us-east-1

[sso-session personal]
sso_start_url = <SSO_START_URL>
sso_region = us-east-1
sso_registration_scopes = sso:account:access
